@import url('https://googleapis.com');
@import 'tailwindcss';

/* Google font */
@theme {
  --font-instrument: 'Instrument Sans', sans-serif;
  --font-cormorant: 'Cormorant Garamond', serif;
}

@layer base {
  h1 {
    font-size: var(--text-6xl);
    font-family: var(--font-cormorant);
    line-height: var(--text-6xl);
    margin-bottom: 3rem;
  }
  h2 {
    font-size: var(--text-4xl);
    font-family: var(--font-cormorant);
    line-height: var(--text-4xl);
    margin-bottom: 2rem;
  }
  h3 {
    font-size: var(--text-lg);
    font-family: var(--font-cormorant);
    line-height: var(--text-3xl);
    font-weight: var(--font-weight-semibold);
  }
  h4 {
    font-size: var(--text-xs);
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-lime-800);
    font-family: var(--font-instrument);
    letter-spacing: var(--tracking-widest);
    opacity: 60%;
    margin-bottom: 2rem;
  }
  h5 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: var(--text-sm);
    padding-bottom: 1rem;
  }
  p,
  td {
    font-family: var(--font-instrument);
    font-weight: 300;
  }
  li {
    font-family: var(--font-instrument);
  }
}

@layer components {
  .section-px {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  /* .button-modal {
    display: inline-block;
    font-size: var(--text-sm);
    font-weight: var(--font-weight-semibold);
    letter-spacing: var(--tracking-wid); */
  /* inline-block text-sm rounded-full font-semi
  bold tracking-wide transition-colors duration-300 focus:outline-none focus:ring focus:ring-taupe-700 focus:ring-offset-2 */
  /* } */

  /* https://cssloaders.github.io/ */
  .loader {
    --color-1: #ff3d00;
    --color-2: #fff;
    --size: 1px;

    width: calc(50 * var(--size));
    height: calc(165 * var(--size));
    position: relative;
  }
  .loader::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    width: calc(16 * var(--size));
    height: calc(16 * var(--size));
    background: var(--color-1);
    border-radius: 50%;
    animation: bounce 2s linear infinite;
  }
  .loader::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: calc(48 * var(--size));
    width: calc(48 * var(--size));
    background: var(--color-2);
    border-radius: calc(4 * var(--size));
    animation: rotate 2s linear infinite;
  }

  @keyframes bounce {
    0%,
    50%,
    100% {
      transform: translate(-50%, 0);
      height: calc(20 * var(--size));
    }
    20% {
      transform: translate(-25%, calc(85 * var(--size)));
      height: calc(28 * var(--size));
    }
    25% {
      transform: translate(-25%, calc(110 * var(--size)));
      height: calc(12 * var(--size));
    }
    70% {
      transform: translate(-75%, calc(85 * var(--size)));
      height: calc(28 * var(--size));
    }
    75% {
      transform: translate(-75%, calc(108 * var(--size)));
      height: calc(12 * var(--size));
    }
  }
  @keyframes rotate {
    0%,
    50%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(90deg);
    }
    75% {
      transform: rotate(-90deg);
    }
  }

  /* .focus-border {
    @apply outline-none border-b-2 border-transparent focus:border-amber-800;
  } */
}
